<div class="hero min-h-[calc(100vh-80px)] mt-20 bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <div role="alert" class="alert alert-success flex flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Votre compte à bien été créé, vous pourrez modifier vos informations à tout moment en vous
                    connectant, ou en demandant à un membre du bureau</span>
                <a class="link link-neutral" href="/login">Se connecter</a>
            </div>
        </div>
    </div>
</div>
