<div class="hero min-h-[calc(100vh-80px)] bg-base-200">
    <div class="card shrink-0 w-full max-w-fit shadow-2xl bg-base-100 card-compact md:card-normal my-4">
        <form action="/new-member" method="POST" class="m-4">
            <div class="text-center mb-4 prose">
                <h1 class="">Inscription</h1>
            </div>
            <div class="flex flex-col justify-between gap-2">
                <div class="mt-2 prose underline underline-offset-4">
                    <h2>Profile</h2>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-1/2 md:w-1/5">
                        <div class="label">
                            <span class="label-text">Pronom(s)<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="pronoun" placeholder="Pronom(s)"
                            class="input input-bordered w-full max-w-xs" hx-post="/new-member" hx-params="prenoun"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full md:w-2/5">
                        <div class="label">
                            <span class="label-text">Prénom<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="firstname" placeholder="Prénom"
                            class="input input-bordered w-full max-w-full" hx-post="/new-member" hx-params="firstname"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full md:w-2/5">
                        <div class="label">
                            <span class="label-text">Nom<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="name" placeholder="Nom" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="name" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Photo d'identité<i class="text-red-500">*</i></span>
                        </div>
                        <input type="file" class="file-input file-input-bordered file-input-secondary w-full max-w-xs"
                            name="picture" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="mt-2 prose underline underline-offset-4">
                    <h2>Derby</h2>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text tooltip tooltip-info" data-tip="Votre Nom de Derby !">Derby
                                Name</span>
                        </div>
                        <input type="text" name="derbyName" placeholder="Derby Name"
                            class="input input-bordered w-full" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Numéro de Joueur•se</span>
                        </div>
                        <input type="text" name="playerNumber" placeholder="0000" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="playerNumber" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div>
                    <div class="form-control my-1">
                        <label class="cursor-pointer label justify-normal gap-2">
                            <span class="label-text">Accepte de jouer en mixte </span>
                            <input name="acceptsMixedGender" type="checkbox" checked="checked"
                                class="checkbox checkbox-secondary" />
                        </label>
                    </div>
                </div>
                <div class="mt-2 prose underline underline-offset-4">
                    <h2>Informations de contact</h2>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">E-mail<i class="text-red-500">*</i></span>
                        </div>
                        <input type="email" name="mail" placeholder="exemple@mail.com"
                            class="input input-bordered w-full" hx-post="/new-member" hx-params="mail"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Téléphone<i class="text-red-500">*</i></span>
                        </div>
                        <input type="tel" name="phone" placeholder="06........" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="phone" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Adresse<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="address" placeholder="Numero et nom de rue"
                            class="input input-bordered w-full" hx-post="/new-member" hx-params="address"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-1/3">
                        <div class="label">
                            <span class="label-text">Code Postal<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="zipCode" placeholder="13***" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="zipCode" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Ville<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="city" placeholder="Ville" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="city" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Date de Naissance<i class="text-red-500">*</i></span>
                        </div>
                        <input type="date" name="birthday" placeholder="jj/mm/aaaa" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="birthday" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Ville de Naissance<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="birthplace" placeholder="Ville de Naissance"
                            class="input input-bordered w-full" hx-post="/new-member" hx-params="birthplace"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="mt-2 prose underline underline-offset-4">
                    <h2>Informations médicales</h2>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Informations médicales</span>
                        </div>
                        <textarea class="textarea textarea-bordered h-24"
                            placeholder="Informations médicales dont vous souhaitez nous faire part dans le cadre de la pratique du Roller Derby"
                            name="medicalInfos"></textarea>
                    </label>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Personne à prévenir<i class="text-red-500">*</i></span>
                        </div>
                        <input type="text" name="emergencyContactName"
                            placeholder="Personne à prévenir en cas d'urgence" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="emergencyContactName" hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Téléphone personne à prévenir<i class="text-red-500">*</i></span>
                        </div>
                        <input type="tel" name="emergencyContactPhone" placeholder="06........"
                            class="input input-bordered w-full" hx-post="/new-member" hx-params="emergencyContactPhone"
                            hx-target="next p" />
                        <p class="text-red-500"></p>
                    </label>
                </div>
                <div class="mt-2 prose underline underline-offset-4">
                    <h2>Mot de Passe</h2>
                </div>
                <div role="alert" class="alert alert-info">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="stroke-current shrink-0 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <p>Le mot de passe doit vérifier les conditions suivantes : <br>
                        - Minimum 8 caractères <br>
                        - Au moins une lettre Majuscule <br>
                        - Au moins un caractère spéciale <br>
                        - Au moins un chiffre <br>
                    </p>
                </div>
                <div class="flex flex-col md:flex-row md:gap-4">
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Mot de passe<i class="text-red-500">*</i></span>
                        </div>
                        <input type="password" name="password" placeholder="***" class="input input-bordered w-full"
                            hx-post="/new-member" hx-params="password" hx-target="next p" hx-trigger="keyup" />
                        <p class="text-red-500"></p>
                    </label>
                    <label class="form-control w-full">
                        <div class="label">
                            <span class="label-text">Confirmez le mot de passe<i class="text-red-500">*</i></span>
                        </div>
                        <input type="password" name="confirmPassword" placeholder="***"
                            class="input input-bordered w-full" hx-post="/new-member"
                            hx-params="confirmPassword, password" hx-target="next p" hx-trigger="keyup" />
                        <p class="text-red-500"></p>
                    </label>

                </div>
            </div>
            <div class="form-control mt-10">
                <button type="submit" class="btn btn-primary">Confirmer mon inscription</button>
            </div>
        </form>
    </div>
</div>
