<div class="min-h-[calc(100vh-80px)] bg-base-300 flex justify-center">
    <div class="w-full sm:w-4/5 lg:w-2/3">
        <table class="table table-xs sm:table-sm md:table-md lg:table-lg w-full table-pin-rows">
            <thead>
                <tr class="bg-base-300">
                    <th>
                        <div class="flex flex-col justify-center items-center gap-1">
                            <div>
                                Nom
                            </div>
                            {% include "dashboard/_searchNames.html.twig" %}

                        </div>
                    </th>
                    <th>
                        <div class="flex flex-col justify-center items-center gap-1">
                            <div>
                                Equipe
                            </div>
                            {% include "dashboard/_selectTeam.html.twig" %}
                        </div>
                    </th>
                    <th>
                        <div class="flex flex-col justify-center items-center gap-1">
                            <div>
                                Roles
                            </div>
                            <div>
                                <select class="select select-xs max-w-16 sm:max-w-none" id="team" name="team">
                                    <option value="">--Filtre--</option>
                                    <option value="Bureau">Bureau</option>
                                    <option value="CA">CA</option>
                                    <option value="Coach">Coach</option>
                                </select>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="memberList" class="h-20 overflow-scroll">
                {% include "dashboard/_memberListElmt.html.twig" %}
            </tbody>
        </table>
    </div>
</div>
