<div class="flex items-center justify-center">
    <input class="form-control input input-xs w-4/5" type="search" name="search"
        placeholder="Recherche par Prénom/Nom/DerbyName..." hx-get="/dashboard" hx-trigger="keyup"
        hx-target="#memberList">
</div>
