<div class="flex items-center justify-center w-4/5">
    <input class="form-control input input-xs w-full" type="search" name="search"
        placeholder="Recherche par Prénom/Nom/DerbyName..." hx-get="/dashboard" hx-target="#memberList"
        hx-include="[name='team'], [name='role']" hx-trigger="keyup delay:500ms, change from:#team, change from:#role">
</div>
