<div class="flex items-center justify-center w-4/5">
    <input class="form-control input input-xs w-full" type="search" name="search"
        placeholder="Recherche par Prénom/Nom/DerbyName..." hx-get="/dashboard" hx-target="#memberList"
        hx-include="[name='team']" hx-trigger="keyup, change from:#team">
</div>
