<div>
    <select class="select select-xs max-w-16 sm:max-w-none" id="role" name="role">
        <option value="">--Filtre--</option>
        {% for role in club.roles %}
        <option value="{{role}}">{{role}}</option>
        {% endfor %}
    </select>
</div>
