<div>
    <select class="select select-xs max-w-16 sm:max-w-none" id="team" name="team">
        <option value="">--Filtre--</option>
        {% for team in club.teams %}
        <option value="{{team.id}}">{{team.name}}</option>
        {% endfor %}
    </select>
</div>
