{% extends "base.html.twig" %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block main %}
<div class="h-[calc(100vh-80px)] bg-base-300 flex flex-col items-center justify-center p-1 md:p-4">
    {% include "dashboard/_stats.html.twig" %}
    <div class="divider divider-vertical m-0 mb-2 md:mb-6">Evènements à venir</div>
    {% include "dashboard/_upcomingEvents.html.twig" %}
</div>
{% endblock %}
