<div class="modal-box" id="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" hx-get="/cancel-create-event"
            hx-target="#modalEvent" hx-swap="outerHTML">✕</button>
    </form>
    <div class="flex flex-col items-center justify-center w-full prose">
        <h3>Entrainement</h3>
        <div class="w-full bg-base-300 p-4">
            <div class="w-full">
                <h4 class="mt-0">Horaires : </h4>
                <p>{{training.start | french_date}} - {{training.end | french_date}}</p>
            </div>
            <div class="w-full">
                <h4>Lieu : </h4>
                <p>{{training.place}}</p>
            </div>
            <div class="w-full flex justify-center items-center">
                <button class="btn btn-accent btn-sm md:btn-md" type="button">Participer !</button>
            </div>
        </div>
        <div class="w-full">
            <h4>Participant•e•s: </h4>
            <table class="table table-xs sm:table-sm md:table-md lg:table-lg w-full">
                <thead class="sticky top-0 z-10">
                    <tr>
                        <th>Nom</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
