<div class="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" hx-get="/cancel-create-event"
            hx-target="#modalCreateEvent" hx-swap="outerHTML">✕</button>
    </form>
    <form id="newTrainingForm" class="flex flex-col gap-4 justify-center items-center" hx-post="/add-training"
        hx-target="#modalCreateEvent" hx-swap="outerHTML" hx-trigger="click from:#validateTraining">
        <h2>Nouvel entrainement</h2>
        <label class="input input-bordered input-accent input-sm md:input-md flex items-center gap-2 w-full">
            Début :
            <input type="datetime-local" name="start" class="grow" value="{{start_select}}" />
        </label>
        <label class="input input-bordered input-accent input-sm md:input-md flex items-center gap-2 w-full">
            Fin :
            <input type="datetime-local" name="end" class="grow" value="{{end_select}}" />
        </label>
        <label class="input input-bordered input-accent input-sm md:input-md flex items-center gap-2 w-full">
            Lieu :
            <input type="text" name="place" class="grow" />
        </label>
        <button id="validateTraining" type="button" class="btn btn-accent btn-sm md:btn-md">Créer
            l'entrainement</button>
    </form>
</div>
