<dialog id="modalCreateEvent" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form id="eventForm" class="flex flex-col justify-center items-center gap-4" hx-post="/get-event-form"
            hx-target="#modalCreateEvent" hx-trigger="click from:#validate">
            <h2>Nouvel évènement</h2>
            <select id="eventSelector" name="eventType"
                class="select select-bordered select-sm md:select-md select-primary w-4/5" required>
                <option value="" disabled selected>Selectionnez le type d'évènement</option>
                <option value="training" class="text-center">Entrainement</option>
                <option value="match" class="text-center">Match</option>
            </select>
            <input type="hidden" id="start_select" name="start_select">
            <input type="hidden" id="end_select" name="end_select">
            <input type="hidden" id="allDay_select" name="allDay_select">
            <button type="button" id="validate" class="btn btn-primary btn-sm md:btn-md">Créer un événement</button>
        </form>
    </div>
</dialog>
