<div class="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" hx-get="/cancel-create-event"
            hx-target="#modalCreateEvent" hx-swap="outerHTML">✕</button>
    </form>
    <form id="newMatchForm" class="flex flex-col gap-4 justify-center items-center" hx-post="/add-match"
        hx-target="#modalCreateEvent" hx-swap="outerhtml" hx-trigger="click from:#validateEvent">
        <h2>Nouveau match</h2>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Début :
            <input {% if allDay_select=='true' %} type="date" {% else %} type="datetime-local" {% endif %} name="start"
                class="grow" id="startInput" value="{{start_select}}" />
        </label>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Fin :
            <input {% if allDay_select=='true' %} type="date" {% else %} type="datetime-local" {% endif %} name="end"
                class="grow" id="endInput" value="{{end_select}}" />
        </label>
        <label
            class="input input-bordered input-secondary input-sm md:input-md flex items-center justify-between gap-2 w-full">
            Toute la journée :
            <input type="checkbox" class="checkbox checkbox-accent checkbox-sm md:checkbox-md" name="allDay"
                id="allDayCheckbox" class="grow" {% if allDay_select=='true' %}checked{% endif %} />
        </label>
        <select name="matchType"
            class="select select-bordered select-secondary select-sm md:select-md flex items-center gap-2 w-full"
            required>
            <option value="" disabled selected>Type de match</option>
            <option value="Championnat">Championnat</option>
            <option value="Amical">Amical</option>
        </select>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Equipe Adverse :
            <input type="text" name="opponent" class="grow" />
        </label>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Lieu :
            <input type="text" name="place" class="grow" />
        </label>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Lien Map :
            <input type="text" name="mapLink" class="grow" />
        </label>
        <label class="input input-bordered input-secondary input-sm md:input-md flex items-center gap-2 w-full">
            Fin inscription :
            <input type="datetime-local" name="registrationDeadline" class="grow" />
        </label>
        <textarea name="instructions" class="textarea textarea-bordered textarea-secondary w-full" rows="5" cols="15"
            placeholder="instructions sur l'organisation de l'évènement"></textarea>
        <button type="button" id="validateEvent" class="btn btn-secondary btn-sm md:btn-md">Créer le match</button>
    </form>
</div>
