<dialog id="modalEvent" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div id="eventForm" class="flex flex-col justify-center items-center gap-4">
            <h2>Selectionnez le type d'évènement</h2>
            <select class="select select-xs sm:select-sm select-primary w-4/5">
                <option value="training" class="text-center">Entrainement</option>
                <option value="match" class="text-center">Match</option>
            </select>
            <button type="button" class="btn btn-primary btn-xs sm:btn-sm">Créer un événement</button>
        </div>
    </div>
</dialog>
