<div class="h-[calc(100vh-80px)] bg-base-300 flex justify-center p-1 md:p-4">
    <div id="calendarContainer" class="min-h-full min-w-full max-h-fit relative">
        <div class="absolute inset-0 overflow-hidden">
            <div id="calendar" class="h-full w-full"></div>
        </div>
    </div>
</div>
