{% extends "base.html.twig" %}
{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.css" rel="stylesheet">
{% endblock %}

{% block main %}
{% include "calendar/_fullCalendar.html.twig" %}
{% include "calendar/_newEventForm.html.twig" %}
{% endblock %}

{% block script %}
{% include "calendar/_calendarScript.html.twig" %}
{% endblock %}
