<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/customStyle.css" rel="stylesheet">
</head>

<body>
    <header>
        {% include "layout/header.html.twig" %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="/js/script.js"></script>
</body>

</html>
