tbody.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fc-newEvent-button {
    background: green !important;
}

.training-event {
    background-color: #00b29f !important;
    border-color: #89cff0 !important;
}

.match-event {
    background-color: #ef47bc !important;
    border-color: #89cff0 !important;
}

.fc-event {
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .fc-col-header-cell {
        font-size: 80%;
    }
}
