<tr>
    <td class="overflow-auto w-2/3">
        <div class="font-bold flex justify-center">
            <p class="text-wrap">{{matchRole}}</p>
        </div>
    </td>
    <td class="w-1/3">
        <div class="flex flex-col justify-center items-center gap-2">
            <button class="btn btn-error btn-xs md:btn-sm w-full" hx-delete="/delete-match-role/{{matchRole}}"
                hx-target="closest tr" hx-confirm="Etes-vous sûr•e de vouloir supprimer le rôle {{matchRole}} ?"
                hx-swap="outerhtml swap:1s">Supprimer</button>
        </div>
    </td>
</tr>
