<div>
    <div class="overflow-x-auto flex flex-col items-center justify-center mt-4">
        <div class="collapse collapse-plus bg-base-200 w-11/12 sm:w-2/3">
            <input type="checkbox" />
            <div class="collapse-title text-md md:text-xl font-medium">
                Ajouter un Rôle
            </div>
            <div class="collapse-content">
                {% include "management/_matchRolesForm.html.twig" %}
            </div>
        </div>
        <table class="table-xs md:table-md lg:table-lg w-11/12 sm:w-2/3">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="roleMatchList">
                {% for matchRole in matchRoles %}
                {% include "management/_matchRolesListElmt.html.twig" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
