<div>
    <div class="overflow-x-auto flex flex-col items-center justify-center mt-4">
        <div class="collapse collapse-plus bg-base-200 w-fit">
            <input type="checkbox" />
            <div class="collapse-title text-md md:text-xl font-medium">
                Ajouter une équipe
            </div>
            <div class="collapse-content">
                {% include "management/_teamsForm.html.twig" %}
            </div>
        </div>
        <table class="table-xs md:table-md lg:table-lg">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% if not teams %}
            <tbody>
                <th colspan="4">
                    <span class="italic font-normal">Pas d'équipes</span>
                </th>
            </tbody>
            {% endif %}
            <tbody id="teamsList">
                {% for team in teams %}
                {% include "management/_teamListElmt.html.twig" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
