{% extends "base.html.twig" %}
{% block main %}
<div class="min-h-[calc(100vh-5rem)] bg-base-200">
    <div role="tablist" class="tabs tabs-lifted w-full">
        <input type="radio" name="my_tabs_1" role="tab" class="tab font-bold" aria-label="Teams" checked />
        <div role="tabpanel" class="tab-content mt-5 w-full min-h-[calc(100vh-9rem)] h-full bg-base-100">
            {% include "management/_teamsList.html.twig" %}
        </div>

        <input type="radio" name="my_tabs_1" role="tab" class="tab font-bold" aria-label="Essais" />
        <div role="tabpanel" class="tab-content mt-5 w-full min-h-[calc(100vh-9rem)] h-full bg-base-100">
            {% include "management/_attendeesList.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}
