<div class="hero min-h-[calc(100vh-80px)] bg-base-200">
    <div class="card shrink-0 w-full max-w-sm lg:max-w-3xl shadow-2xl bg-base-100 m-8">
        <form class="card-body">
            <div class="text-center mb-4">
                <h1 class="text-4xl font-bold">Demander un essai</h1>
            </div>
            <div role="alert" class="alert">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="stroke-info shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Les séances d'éssai on lieu deux fois par an en Septembre et en Février, nous vous contacterons
                    par mail pour vous donner une date</span>
            </div>
            <div class="lg:flex flex-row justify-between">
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Prénom</span>
                    </div>
                    <input type="text" placeholder="Votre prénom" class="input input-bordered w-full max-w-xs" />
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Nom</span>
                    </div>
                    <input type="text" placeholder="Votre nom" class="input input-bordered w-full max-w-xs" />
                </label>

            </div>
            <div class="lg:flex flex-row justify-between">
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>
                    <input type="email" placeholder="Votre e-mail" class="input input-bordered w-full max-w-xs" />
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Age</span>
                    </div>
                    <input type="text" placeholder="Votre age" class="input input-bordered w-full max-w-xs" />
                </label>
            </div>
            <label class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">Pointure</span>
                </div>
                <input type="number" placeholder="Pointure" class="input input-bordered w-full max-w-xs" />
            </label>
            <div class="form-control mt-4">
                <button type="submit" class="btn btn-primary">Envoyer ma demande</button>
            </div>
        </form>
    </div>
</div>
